; Notes:
;  - Shell expansion ("~" or "$HOME") is not supported.  Environment
;    variables can be expanded using this syntax: "%(ENV_HOME)s".
;  - Comments must have a leading space: "a=b ;comment" not "a=b;comment".
; echo_supervisord_conf to get a standard conf file

[supervisord]
logfile_maxbytes=1000000
logfile_backups=10

[inet_http_server]             ; inet (TCP) server disabled by default
port=0.0.0.0:9001              ; (ip_address:port specifier, *:port for all iface)
; username=user                ; (default is no username (open server))
; password=pws                 ; (default is no password (open server))

[program:breathe-see]
command=/usr/local/bin/node index.js
directory={{ ansible_env.HOME }}/breathe-see
autostart=true
user=pi
stdout_logfile_maxbytes=1000000
stdout_logfile_backups=10
stderr_logfile_maxbytes=1000000
stderr_logfile_backups=10

[program:Sampling]
command=/usr/bin/python Controller.py
directory={{ ansible_env.HOME }}/Sampling/Online
autostart=true
user=pi
stdout_logfile_maxbytes=1000000
stdout_logfile_backups=10
stderr_logfile_maxbytes=1000000
stderr_logfile_backups=10
